.home {
  background-image: linear-gradient(to right bottom, #0f0f0f 40%, #161616);
  /* background-color: #1f1f1f; */
}

.innerContainer {
  padding: 20px;
}

.heading {
  @apply capitalize text-xl font-semibold mb-8 text-center;
}

@media (min-width: 1280px) {
  .innerContainer {
    display: flex;
    column-gap: 80px;
  }
}

@media (min-width: 600px) {
  .innerContainer {
    padding: 40px;
  }
  .heading {
    @apply text-2xl;
  }
}
